.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
}

ul {
    list-style: none;
}

.sidebar {
    /* position in grid */
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    /* position in grid */
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.search {
    /* position in grid */
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.content {
    /* position in grid */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.update > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1em calc(1fr - 2em) 1em calc(1fr-2em);
    gap: 10px;
    background-color: lightgrey;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.proj-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.announce-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.anouncements {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending-header {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.card {
    border: 1px solid blue;
    border-radius: 5px;
    background-color: white;
}